<h1>Sala Juegos</h1>
<!-- This nav gives you links to click, which tells the router which route to use (defined in the routes constant in  AppRoutingModule) -->
<nav>
  <ul>
    <li>
      <a routerLink="/Home" routerLinkActive="active">Home Component</a>
    </li>
    <li>
      <a routerLink="/Login" routerLinkActive="active">Login Component</a>
    </li>
    <li>
      <a routerLink="/AboutMe" routerLinkActive="active">About me</a>
    </li>
  </ul>
</nav>
<router-outlet></router-outlet>

<router-outlet></router-outlet>
