<main role="main">
  <!-- Main jumbotron for a primary marketing message or call to action -->
  <div class="jumbotron">
    <div class="container">
      <h1 class="display-3">
        Llegaste a la mejor sala arcade del ciber-espacio
      </h1>
      <p>
        ¡Registrate para comenzar a jugar!
        <br />
        Si ya tienes una cuenta, inicia sesion.
      </p>
      <p>
        <a class="btn btn-primary btn-lg" href="login" role="button"
          >Ingresar&nbsp;
        </a>
      </p>
    </div>
  </div>

  <div class="container">
    <!-- Example row of columns -->
    <div class="row">
      <div class="col-md-4">
        <h2>Ahorcado</h2>
        <p>¡Adivina la palabra antes de ser colgado!.</p>
        <p>
          <a class="btn btn-secondary" href="ahorcado" role="button"
            >Jugar &raquo;</a
          >
        </p>
      </div>
      <div class="col-md-4">
        <h2>Mayor o menor</h2>
        <p>Deberas determinar del ejemplo presentado quien es mayor o menor.</p>
        <p>
          <a class="btn btn-secondary" href="mayorMenor" role="button"
            >Jugar &raquo;</a
          >
        </p>
      </div>
      <div class="col-md-4">
        <h2>Preguntados</h2>
        <p>
          Analiza las preguntas, luego determina que opcion es la correcta, ¡y
          aprende en el proceso!.
        </p>
        <p>
          <a class="btn btn-secondary" href="preguntados" role="button"
            >Jugar. &raquo;</a
          >
        </p>
      </div>
    </div>

    <hr />
  </div>
  <!-- /container -->
</main>

<footer class="container">
  <p>&copy; Juan Pablo Dos Santos 2021</p>
</footer>

<!-- Bootstrap core JavaScript
    ================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script
  src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
  integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
  crossorigin="anonymous"
></script>
<script>
  window.jQuery ||
    document.write(
      '<script src="../../../../assets/js/vendor/jquery-slim.min.js"><\/script>'
    );
</script>
<script src="../../../../assets/js/vendor/popper.min.js"></script>
<script src="../../../../dist/js/bootstrap.min.js"></script>
